.postSelection{
    margin: 50px;
    gap: 10px;
    
    display: inline-flex;
}
/* label {
    margin: 50px;
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
} */
